* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body {
  background: url(../img/br.jpg) round;
}
.top {
  height: 45px;
  width: 100%;
  background: rgb(15, 88, 81);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  font-style: italic;
  font-size: 20px;
  position: relative;
  letter-spacing: 8px;
}
.i {
  position: absolute;
  left: 155px;
  top: 10px;
  color: aliceblue;
}
.history {
  position: absolute;
  left: 555px;
  top: 10px;
  color: aliceblue;
}
.contacts {
  position: absolute;
  right: 155px;
  top: 10px;
  color: aliceblue;
}
.contact {
  width: 450px;
  height: 100px;
  margin: 0px auto;
  margin-top: 300px;
}
.connections {
  line-height: 30px;
  letter-spacing: 6px;
}
.connections li {
  font-size: 18px;
}
.connections li:nth-child(1) {
  background: url(../img/phone.png) no-repeat left;
  padding-left: 35px;
  background-size: 25px;
}
.connections li:nth-child(2) {
  background: url(../img/email.png) no-repeat left;
  padding-left: 35px;
  background-size: 25px;
}
.connections li:nth-child(3) {
  background: url(../img/telegram.png) no-repeat left;
  padding-left: 35px;
  background-size: 25px;
}
